*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    width: 1152px;
    height: 100vh;
}
.left{
    display: flex;
    width: 602px;
    height: 700px;
}
.right{
    background-color: #FFFFFF;
    width: 581px;
    height: 708px;
    border-radius: 22px;
    box-shadow: 4px 4px 4px 4px #00000040;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -20px;
}
.logo{
    width: 270px;
    height: 202.5px;
    background-image: url(./images/logo.svg);
    
}
.form{
    width: 420px;
    display:flex ;
    flex-direction: column;
    gap: 14px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #003D61;
    font-weight: bolder;
    
}
.input{
    border: 0;
    border-bottom: 1px solid #003D61;
    border-left:1px  solid  #003D61;
    padding: 5px 20px;   
}
::placeholder {
    font-size: 12px;
    color: #C4C4C4;
}
.terms{
    display: flex;
    align-items: center;
    flex-direction: row;  
    margin-top: 30px; 
    margin-bottom: 20px;
}
.img{
    margin-right: 10px;   
}
.text{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold ;
    color:#233D4ED4 ;
}
.text2{
    color: #ED2980;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    
}
.footer{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    justify-content:space-around;
}
@media  (max-width:400px){
    .main {
        width: 100%;
        flex-direction: column;
    }
    .left{
        margin: 0px -41px;
        margin-bottom: -100px
    }
}